<div class="static_page">
    <h1>About My Social Dog</h1>
    <table>
        <tr>
            <td class="half">
                <h2>The Site</h2>
                <p>My Social Dog is the first social network to connect local dog owners in real-time. It links together neighbors, giving them the ability to chat and set up playdates on the fly.</p>
                <h2>The Founders</h2>
                <p><a href="/sharon">Sharon Feder</a> and <a href="/adam">Adam Hirsch</a> are the proud owners of Sunny, an adopted Lhasa Apso. Sunny is at his happiest around other dogs and we try to make him happy every day, so we use My Social Dog.</p>
                <h2>The Team</h2>
                <ul>
                    <li><a href="/sharon">Sharon Feder</a>, Co-founder and President</li>
                    <li><a href="/adam">Adam Hirsch</a>, Co-founder and Vice President</li>
                    <li><a href="/kyle">Kyle Bragger</a>, Co-founder and CTO</li>
                </ul>
            </td>
            <td class="half">
                <h2>The birth of My Social Dog</h2>
                <p>In August of 2008 we adopted our Lhasa Apso, Sunny. Almost immediately we realized that our little pup was one social dog. He didn&#8217;t want long walks or treats; he just wanted to play. With so many other dogs in the city, he had no problem making friends - the problem was coordinating with his friends&#8217; owners so that he could see them again.</p>
                <p>We found exchanging business cards with other owners on the street awkward - and if an owner did call to follow up, it was even more awkward. In a city with so many other dogs, there had to be a better way. And with that, My Social Dog was born.</p>
                <p>With the help of our developer, Kyle, we’ve built My Social Dog to accomplish the following goals:</p>
                <ul>
                    <li>To be a quick and easy to use tool to set up playdates with other local dogs</li>
                    <li>To get trustworthy information about local dog walkers, groomers, boarding houses, and more</li>
                    <li>To discuss local issues that affect our pets, from building policies to problems at a nearby dog park</li>
                    <li>To talk with others who are just as passionate about their dogs as we are</li>
                </ul>
                <p>We hope you enjoy My Social Dog and encourage you to tell your friends and get others in your neighborhood involved!</p>
            </td>
        </tr>
    </table>
</div>