<div class="static_page">
    <h1>Advertise on My Social Dog</h1>
    <table>
        <tr>
            <td class="half">
                <h2>Stats</h2>
                <p>Coming soon&hellip;</p>
            </td>
            <td class="half">
                <h3>Contact</h3>
                <p><%= mail_to 'advertise@mysocialdog.com', nil, { :encode => 'javascript' } -%></p>
                <h3>Opportunities</h3>
                <ul>
                    <li>Standard IAB Ad Creatives:<br />&nbsp;&nbsp;&nbsp;- 300x250 rectangle</li>
                    <li>Branded Pages (<a href="/pages/brands">Learn More</a>):<br />&nbsp;&nbsp;&nbsp;- Only $100 per brand<br />&nbsp;&nbsp;&nbsp;- Custom Messages<br />&nbsp;&nbsp;&nbsp;- Customer Alerts</li>
                    <li>Newsletters</li>
                </ul>
            </td>
        </tr>
    </table>
</div>