<div class="static_page">
    <h1>Brand Pages On My Social Dog</h1>
    <table>
        <tr>
            <td class="half">
                <h2>Why Branded Pages?</h2>
                <p>Join and befriend your target demographic. Form relationships with your customers. Offer advice and discounts. Listen to their feedback. Participate in the conversation.</p>
                <h2>This is what you get:</h2>
                <ul>
                    <li>mysocialdog.com/YourBrand</li>
                    <li>Enhanced Profile with larger logo and additional area for promotional messaging</li>
                    <li>Full access to all features</li>
                    <li>Ability to send Custom Campaign Messages (Pricing upon request)</li>
                </ul>
            </td>
            <td class="half">
                <h3>For More Information</h3>
                <p><%= mail_to 'brand@mysocialdog.com', nil, { :encode => 'javascript' } -%></p>
                <h3>Opportunities</h3>
                <ul>
                    <li>Discounted Ad Rates:<br />&nbsp;&nbsp;&nbsp;- 300x250 rectangle</li>
                    <li>Branded Pages:<br />&nbsp;&nbsp;&nbsp;- Only $100 per brand<br />&nbsp;&nbsp;&nbsp;- Custom Messages<br />&nbsp;&nbsp;&nbsp;- Customer Alerts</li>
                    <li>Discounted Newsletter Advertising</li>
                    <li>Free Charity and Non-Profit Brand Pages</li>
                    <li>Setup your profile and then contact <%= mail_to 'brand@mysocialdog.com', nil, { :encode => 'javascript' } -%> to activate special features</li>
                </ul>
            </td>
        </tr>
    </table>
</div>
<style type="text/css" media="screen">
    #content.page-pages, #content.page-homepage {
        padding-bottom: 312px;   
    }
</style>