<div class="static_page">
    <h1>Contact My Social Dog</h1>
    <table>
        <tr>
            <td class="half">
                <h2>Contact Us using the form below:</h2>
                <iframe src="http://spreadsheets.google.com/embeddedform?key=t2I2KeQR4NFzECYyqzA29Rw" width="425" height="600" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
            </td>
            <td class="half">
                <h2>Share your opinion with others:</h2>
                <ul>
                    <li>General Inquiries: <%= mail_to 'adam@mysocialdog.com', 'adam@mysocialdog.com' -%></li>
                    <li>Press: <%= mail_to 'press@mysocialdog.com', 'press@mysocialdog.com' -%></li>
                    <li>Emergencies &amp; Questions: <%= mail_to 'adam@mysocialdog.com', 'adam@mysocialdog.com' -%><br />&nbsp;&nbsp;&nbsp;&nbsp;<small style="font-size: 12px;">(read the <a href="/pages/help">help page</a> first)</small></li>
                    <li>Advertising: <%= mail_to 'advertising@mysocialdog.com', 'advertising@mysocialdog.com' -%></li>
                </ul>
            </td>
        </tr>
    </table>
</div>
<style type="text/css" media="screen">
    #content.page-pages { padding-bottom: 412px; }
</style>
