<div class="static_page">
    <h1>Press</h1>
    <table>
        <tr>
            <td class="half">
                <h2>Recent Coverage</h2>
                <p>Hold your horses!</p>
            </td>
            <td class="half">
                <h2>Looking to cover us?</h2>
                <h3>Contact</h3>
                <p><%= mail_to 'press@mysocialdog.com', nil, { :encode => 'javascript' } -%></p>
                <h3>Key Points</h3>
                <ul>
                    <li>New York City-based startup</li>
                    <li>Dog Owners creating Tool for other Dog Owners</li>
                    <li>Micro-blogging and Social Media site</li>
                    <li>Self-Funded small business</li>
                    <li>Started 2009</li>
                </ul>
            </td>
        </tr>
    </table>
</div>